@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Menu Principal</h1>
<hr />
<h2>Cadastros</h2>
<ul>
    <li><a asp-controller="Regiao" asp-action="Index">Regiões</a></li>
    <li><a asp-controller="Servico" asp-action="Index">Serviços</a></li>
    <li><a asp-controller="Prato" asp-action="Index">Grupos e Pratos</a></li>
</ul>
<hr />
<h2>Cardápio</h2>
<ul>
    <li><a asp-controller="Cardapio" asp-action="Index">Elaborar Cardápio</a></li>
</ul>
<hr />
<h2>Feedbacks</h2>
<ul>
    <li><a asp-controller="Feedback" asp-action="Index">Análise de Feedbacks</a></li>
</ul>