@model codae.backend.application.ViewModels.RegiaoViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>RegiaoViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RegiaoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegiaoId" class="form-control" />
                <span asp-validation-for="RegiaoId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AgrupamentoId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AgrupamentoId" class="form-control" />
                <span asp-validation-for="AgrupamentoId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dirigente" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dirigente" class="form-control" />
                <span asp-validation-for="Dirigente" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
